FIREBASE_APIKEY=""
FIRBASE_AUTHDOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""
NODE_ENV="development"
DATABASE_URL=""

POSTGRES_USER=
POSTGRES_DB=
POSTGRES_PASSWORD=

PGADMIN_CONFIG_SERVER_MODE=
PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=